html, body {
    height: 100%;
}

body {
    padding-bottom: 60px;
    background-color: #ffffff;
}

.main-content {
    height: 100%;
    padding-top: 20px;
}

.signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}

.signin-container {
    height: 100%;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex-align: center;
    -ms-flex-pack: center;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
}

.signin .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
}

.signin .form-control:focus {
    z-index: 2;
}

.signin input.first {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.signin input.middle {
    margin-bottom: -1px;
    border-radius: 0;
}

.signin input.last {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.signin .checkbox {
    font-weight: 400;
}

p.separator {
    font-weight: bold;
    margin-top: 5px;
    padding-left: 20px;
}

.vote {
    width: 24px;
    margin-right: 15px;
}

.arrow {
    cursor: pointer;
}

select.pages-size {
    width: 75px;
    display: inline-block;
    margin: 0 5px;
}

p.readmore {
    max-height: 3em; /* 2 líneas (2 * 1.5) */
}

a.readmore {
    display: inline-block;
    float: right;
}

a.train {
    margin: 1em 0;
}

p.train {
    padding-right: 1em;
}

/* Loader */
.cover {
    height: 100vh;
    width: 100vw;
    background-color: rgba(255, 255, 255, 0.8);
    z-index: 100000;
    position: fixed;
    display: none;
}
#loader {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.details-control {
    text-align: center;
    cursor: pointer;
    vertical-align: middle;
}

svg.feather {
    vertical-align: sub;
}